body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px, 20px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay {
    background: gray;
}

.modal-content {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    background-color: #fefefe;
    margin: 1% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.book-input {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 20px;
}