<div className='menu'>
    <h1>Читалка</h1>
    <div className='arrow_header'>
        <AddIcon />
        <SearchIcon />
        <h2>not my title</h2>
        <hr />
        <p>bvjdfcdkrev ejfclmswje ijdlcm kejcfnslfjwiefj kjc</p>
    </div>
    <div className='content_dod'>
        <p>
            <q>{dod_text}</q> <b>{author}</b>
        </p>
    </div>

    <div className='arrow_header'>
        <AddIcon />
        <SearchIcon />
        <h2>{heder_title}</h2>
        <hr />
        <p>bvjdfcdkrev ejfclmswje ijdlcm kejcfnslfjwiefj kjc</p>
    </div>
    <div className='content_dod'>
        <p>
            <q>{dod_text}</q> <b>{author}</b>
        </p>
    </div>
</div>