h1 {
  margin: 0;
}
.menu{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .iconMenu svg {
    font-size: 3rem;    
  }

  .iconMenu {   
    display: flex;
    column-gap: 1.5rem;
  }


.title-logo{
  color: rgb(43, 11, 73);
}